<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form th:fragment="form" class="col s12" action="#" th:action="@{/citizens/me/demands}" th:object="${demandForm}"
      method="post">
    <div class="row">
        <div class="input-field col s12 center">
            <p class="center login-form-text">CREATION OF A NEW DEMAND</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <label th:text="#{demand.form.name}" for="FNInput">Your referance Name</label>
            <input id="FNInput" type="text" th:field="*{name}" placeholder="Referance Name" required/>
        </div>
        <div class="col s6">
            <select th:field="*{serviceId}">
                <option value="" disabled selected th:text="#{citizen.form.service}">Select your servive</option>
                <option th:each="service : ${services}"
                        th:text="${service.name}"
                        th:value="${service.id}"></option>

            </select>
            <label>Select your service</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="range-field">
                <input th:field="*{placeSize}" type="range" name="placeSize" min="0" max="50"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label th:text="#{demand.form.address}" for="ADInput">Address</label>
            <input id="ADInput" type="text" th:field="*{address}" placeholder="Address" required/>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <label th:text="#{demand.form.startDate}" for="SDInput">start date</label>
            <input id="SDInput" name="SDInput" type="text" class="datepicker" th:field="*{startDate}">
        </div>
        <div class="col s6">
            <label th:text="#{demand.form.endDate}" for="EDInput">end date</label>
            <input id="EDInput" name="EDInput" type="text" class="datepicker" th:field="*{endDate}">
        </div>
    </div>
    <div class="row">
        <div class="col s12 file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" multiple th:field="*{linkedDocuments}">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <textarea id="COMInput" th:field="*{comment}" class="materialize-textarea" required></textarea>
                <label th:text="#{demand.form.comment}" for="COMInput">Comment</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <button id="signUpButton" class="btn waves-effect waves-light" type="submit" name="signup">
                <i class="material-icons right" th:text="#{demand.form.submit}">send</i>
            </button>
        </div>
    </div>
</form>
</html>

