<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="form">

    <div class="row">
        <div class="input-field col s12 center">
            <p th:text="#{citizen.commentForm.title}" class="center login-form-text">UPDATE OF A DEMAND</p>
        </div>
    </div>
    <div class="row" th:id="'chatContainer'+${demand.demandID}">
        <div th:id="'chatBlock'+${demand.demandID}"></div>
    </div>
    <form class="" action="#"
          th:action="@{/citizens/me/demands/{id}/comment(id=${demand.demandID})}"
          th:object="${demandUploadForm}"
          method="post">
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="COMInput" th:field="*{comment}" class="materialize-textarea" th:placeholder="#{citizen.commentForm.commentPH}" required></textarea>
                    <label th:text="#{demand.form.comment}" for="COMInput">Comment</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <button id="signUpButton" class="btn waves-effect waves-light" type="submit" th:text="#{demand.form.submit}">
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
</html>

