<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="form">
    <div th:id="'detailContainer'+${demand.demandID}">
        <div class="row">
            <div class="col s6">
                <p>User referance Name : <span th:text="${demand.name}"></span></p>
            </div>
            <div class="col s6">
                <p>Requested size : <span th:text="${demand.placeSize}"></span> m</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>Address : <span th:text="${demand.address}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>From : <span th:text="${demand.startDate}"></span></p>
            </div>
            <div class="col s6">
                <p>To : <span th:text="${demand.endDate}"></span></p>
            </div>
        </div>
    </div>
    <form action="#"
          th:action="@{/employees/service/demands/{id}/validate(id=${demand.demandID})}"
          th:object="${demandUploadForm}"
          method="post">
        <div class="row">
            <div class="input-field col s12 center">
                <p class="center login-form-text">UPDATE OF A DEMAND</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label th:text="#{demand.form.name}" for="FNInput">Your reference</label>
                <input id="FNInput" type="text" th:field="*{communalName}" placeholder="Reference Name" required/>
            </div>
            <div class="col s6">
                <label th:text="#{demand.form.amount}" for="AMInput">The amount</label>
                <input id="AMInput" type="number" th:field="*{amount}" placeholder="amount to pay" required/>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="COMInput" th:field="*{comment}" class="materialize-textarea" required></textarea>
                    <label th:text="#{demand.form.comment}" for="COMInput">Comment</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <button id="signUpButton" class="btn waves-effect waves-light" type="submit" name="signup">
                    <i class="material-icons right" th:text="#{demand.form.submit}">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
</html>

