<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row" th:fragment="table">
    <table class="striped">
        <thead>
        <tr>
            <th th:text="#{table.demands.details}">Details</th>
            <th th:text="#{table.demands.date}">Creation Date</th>
            <th th:text="#{table.demands.reference}">Personal ref</th>
            <th th:text="#{table.demands.state}">State</th>
            <th th:text="#{table.demands.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="demand : ${demands}">
            <td>
                <div th:id="'detailsModal'+${demand.demandID}" class="modal">
                    <div class="modal-content">
                        <div th:replace="fragments/table/detailsDemand.html :: table"></div>
                    </div>
                </div>
                <div>
                    <a th:href="'#detailsModal'+${demand.demandID}"
                       th:onclick="'detailsHistory(\''+${demand.demandID}+'\',true)'"
                       class="waves-effect waves-light btn btn-small modal-trigger indigo darken-3">
                        <i class="material-icons"> description </i>
                    </a>
                </div>

            </td>
            <td th:text="${demand.createdDate}"></td>
            <td th:text="${demand.name}"></td>
            <td>
                <div th:switch="${demand.currentStatus}">
                    <div th:case="'NEW'">
                        <div>
                            <i class="material-icons"> fiber_new </i>
                        </div>
                    </div>
                    <div th:case="'PENDING'">
                        <div>
                            <i class="material-icons spin"> autorenew </i>
                        </div>
                    </div>
                    <div th:case="'ACCEPTED'">
                        <div>
                            <i class="material-icons"> done </i>
                        </div>
                    </div>
                    <div th:case="'REFUSED'">
                        <div>
                            <i class="material-icons"> clear </i>
                        </div>
                    </div>
                </div>
                <span th:if="${demand.unreadAmount} >0" class="new badge orange" th:text="${demand.unreadAmount}" data-badge-caption=""></span>
            </td>
            <td>
                <div th:switch="${demand.currentStatus}">
                    <div th:id="'commentModal'+${demand.demandID}" class="modal">
                        <div class="modal-content">
                            <div th:replace="fragments/form/citizenCommentDemand.html :: form"></div>
                        </div>
                    </div>
                    <div th:case="'NEW'">
                        <div>
                            <a th:href="'#commentModal'+${demand.demandID}"
                               th:onclick="'refreshHistory(\''+${demand.demandID}+'\',true)'"
                               class="waves-effect waves-light btn btn-small modal-trigger orange">
                                <i class="material-icons"> comment </i>
                            </a>
                        </div>
                    </div>
                    <div th:case="'PENDING'">
                        <div>
                            <a th:href="'#commentModal'+${demand.demandID}"
                               th:onclick="'refreshHistory(\''+${demand.demandID}+'\',true)'"
                               class="waves-effect waves-light btn btn-small modal-trigger orange">
                                <i class="material-icons"> comment </i>
                            </a>
                        </div>
                    </div>
                    <div th:case="'ACCEPTED'">
                        <div>
                            <a class="waves-effect waves-light btn btn-small modal-trigger green lighten-2"
                               th:href="@{/demands/{id}/officialDocument(id=${demand.demandID})}">
                                <i class="material-icons">
                                    file_download
                                </i>
                            </a>
                        </div>
                    </div>
                    <div th:case="'REFUSED'">
                        <div>
                            <a class="waves-effect waves-light btn btn-small modal-trigger red lighten-2"
                               th:href="@{/demands/{id}/officialDocument(id=${demand.demandID})}">
                                <i class="material-icons">
                                    file_download
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
