<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row" th:fragment="table">

    <div th:id="'detailContainer'+${demand.demandID}">
        <div class="row">
            <div class="col s6">
                <p><span th:text="#{details.demands.reference}"></span><span th:text="${demand.name}"></span></p>
            </div>
            <div class="col s6">
                <p><span th:text="#{details.demands.service}"></span><span th:text="${demand.serviceName}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p><span th:text="#{details.demands.creator}"></span><span th:text="${demand.creatorName}"></span></p>
            </div>
            <div class="col s6">
                <p><span th:text="#{details.demands.placeSize}"></span><span th:text="${demand.placeSize}"></span> </p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p><span th:text="#{details.demands.status}"></span><span th:text="${demand.currentStatus}"></span></p>
            </div>
            <div class="col s6">
                <p><span th:text="#{details.demands.creationDate}"></span><span th:text="${demand.createdDate}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p><span th:text="#{details.demands.verificator}"></span><span th:text="${demand.verificatorName}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p><span th:text="#{details.demands.address}"></span><span th:text="${demand.address}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p><span th:text="#{details.demands.startDate}"></span><span th:text="${demand.startDate}"></span></p>
            </div>
            <div class="col s6">
                <p><span th:text="#{details.demands.endDate}"></span><span th:text="${demand.endDate}"></span></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" th:id="'chatContainer'+${demand.demandID}">
            <table>
                <thead>
                <tr>
                    <th th:text="#{details.demands.tableTitle1}">date</th>
                    <th th:text="#{details.demands.tableTitle2}">name</th>
                    <th th:text="#{details.demands.tableTitle3}">comment</th>
                    <th th:text="#{details.demands.tableTitle4}">status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:id="'chatBlockD'+${demand.demandID}"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>
