<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row" th:fragment="table">

    <div th:id="'detailContainer'+${demand.demandID}">
        <div class="row">
            <div class="col s6">
                <p>User referance Name : <span th:text="${demand.name}"></span></p>
            </div>
            <div class="col s6">
                <p>User referance Name : <span th:text="${demand.serviceName}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>User referance Name : <span th:text="${demand.creatorName}"></span></p>
            </div>
            <div class="col s6">
                <p>Requested size : <span th:text="${demand.placeSize}"></span> </p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>Requested size : <span th:text="${demand.currentStatus}"></span></p>
            </div>
            <div class="col s6">
                <p>Requested size : <span th:text="${demand.createdDate}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>User referance Name : <span th:text="${demand.verificatorName}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>Address : <span th:text="${demand.address}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>From : <span th:text="${demand.startDate}"></span></p>
            </div>
            <div class="col s6">
                <p>To : <span th:text="${demand.endDate}"></span></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" th:id="'chatContainer'+${demand.demandID}">
            <table>
                <thead>
                <tr>
                    <th>date</th>
                    <th>name</th>
                    <th>comment</th>
                    <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:id="'chatBlockD'+${demand.demandID}"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>
