<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="headers">
    <meta charset="UTF-8"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/materialize.css}">
    <!--Import Google Icon Font-->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<div th:fragment="citizenNavbar">

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="?lang=fr">French</a></li>
        <li class="divider"></li>
        <li><a href="?lang=en_US">English</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="orange-text" th:href="@{/login}">Login</a></li>
                <li><a class="orange-text" th:href="@{/signup}">Sign up</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown1">Language<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div id="logoSideNavDiv">
                <img id="logoSideNav" th:src="@{~/img/logoLaboilOrangeWriting.png}"/>
            </div>

        </li>
        <li><a th:href="@{/citizens/me}" class="waves-effect orange-text">My Profile</a></li>
        <li><a th:href="@{/citizens/me/documents}" class="waves-effect orange-text">My Official Documents</a></li>
        <li><a th:href="@{/citizens/me/demands}" class="waves-effect orange-text">My Demands</a></li>
        <li><a th:href="@{/logout}" class="waves-effect orange-text">Logout</a></li>
    </ul>

</div>

<div th:fragment="employeeNavbar">

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="?lang=fr">French</a></li>
        <li class="divider"></li>
        <li><a href="?lang=en_US">English</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="orange-text" th:href="@{/login}">Login</a></li>
                <li><a class="orange-text" th:href="@{/signup}">Sign up</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown1">Language<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div id="logoSideNavDiv">
                <img id="logoSideNav" th:src="@{~/img/logoLaboilOrangeWriting.png}"/>
            </div>

        </li>
        <li><a th:href="@{/employees/me}" class="waves-effect orange-text">My Profile</a></li>
        <li><a th:href="@{/employees/me/documents}" class="waves-effect orange-text">My Official Documents</a></li>
        <li><a th:href="@{/employees/me/demands}" class="waves-effect orange-text">My Demands</a></li>
        <li><a th:href="@{/logout}" class="waves-effect orange-text">Logout</a></li>
    </ul>

</div>
<div th:fragment="homeNavbar">

    <!-- Dropdown Structure -->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="?lang=fr">French</a></li>
        <li class="divider"></li>
        <li><a href="?lang=en_US">English</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="../pages/index.html" th:href="@{/}" class="brand-logo">
                <img id="logoNavBar" th:src="@{~/img/LogoOnly.png}"/></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="orange-text" th:href="@{/login}">Login</a></li>
                <li><a class="orange-text" th:href="@{/signup}">Sign up</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown2">Language<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{~/js/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/general.js}"></script>

</div>

</html>
