<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="headers">
    <meta charset="UTF-8"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/materialize.css}">
    <!--Import Google Icon Font-->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<head th:fragment="appHeaders">
    <meta charset="UTF-8"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/materialize.css}">
    <!--Import Google Icon Font-->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/app.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<div th:fragment="citizenNavbar">

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="?lang=fr" th:text="#{nav.citizen.fr}">French</a></li>
        <li class="divider"></li>
        <li><a href="?lang=en_US" th:text="#{nav.citizen.en}">English</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper grey darken-1">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown1"><span th:text="#{nav.citizen.lang}"></span><i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed grey darken-2">
        <li>
            <div id="logoSideNavDiv">
                <img id="logoSideNav" th:src="@{~/img/LogoOnly.png}"/>
                <h3 class="orange-text text-darken-3" id="sideNavTitle">LABOIL</h3>
            </div>

        </li>
        <li><div class="divider orange darken-3"></div></li>
        <li><a th:href="@{/citizens/me}" class="waves-effect"><span class="orange-text text-darken-3" th:text="#{nav.citizen.profile}"></span><i class="material-icons left orange-text text-darken-3">person</i></a></li>
        <li><div class="divider orange darken-3"></div></li>
        <li><a th:href="@{/citizens/me/demands}" class="waves-effect"><span class="orange-text text-darken-3" th:text="#{nav.citizen.demands}"></span><i class="material-icons left orange-text text-darken-3">assignment</i></a></li>
        <li><div class="divider orange darken-3"></div></li>
        <li><a th:href="@{/logout}" class="waves-effect"><span class="orange-text text-darken-3" th:text="#{nav.citizen.logout}"></span><i class="material-icons left orange-text text-darken-3">power_settings_new</i></a></li>
        <li><div class="divider orange darken-3"></div></li>
    </ul>

</div>

<div th:fragment="employeeNavbar">

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="?lang=fr" th:text="#{nav.employee.fr}">French</a></li>
        <li class="divider"></li>
        <li><a href="?lang=en_US" th:text="#{nav.employee.en}">English</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper grey darken-1">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown1"><span th:text="#{nav.employee.lang}"></span><i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed grey darken-2">
        <li>
            <div id="logoSideNavDiv">
                <img id="logoSideNav" th:src="@{~/img/LogoOnly.png}"/>
                <h3 class="orange-text text-darken-3" id="sideNavTitle">LABOIL</h3>
            </div>

        </li>
        <li><div class="divider orange darken-3"></div></li>
        <li><a th:href="@{/employees/me}" class="waves-effect"><span class="orange-text text-darken-3" th:text="#{nav.employee.profile}"></span><i class="material-icons left orange-text text-darken-3">person</i></a></li>
        <li><div class="divider orange darken-3"></div></li>
        <li><a th:href="@{/employees/me/service/demands}" class="waves-effect"><span class="orange-text text-darken-3" th:text="#{nav.employee.demands}"></span><i class="material-icons left orange-text text-darken-3">assignment</i></a></li>
        <li><div class="divider orange darken-3"></div></li>
        <li><a th:href="@{/logout}" class="waves-effect"><span class="orange-text text-darken-3" th:text="#{nav.employee.logout}"></span><i class="material-icons left orange-text text-darken-3">power_settings_new</i></a></li>
        <li><div class="divider orange darken-3"></div></li>
    </ul>

</div>
<div th:fragment="homeNavbar">

    <!-- Dropdown Structure -->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="?lang=fr" th:text="#{nav.home.fr}">French</a></li>
        <li class="divider"></li>
        <li><a href="?lang=en_US" th:text="#{nav.home.en}">English</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="../pages/index.html" th:href="@{/}" class="brand-logo">
                <img id="logoNavBar" th:src="@{~/img/LogoOnly.png}"/></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="orange-text" th:href="@{/login}" th:text="#{nav.home.login}">Login</a></li>
                <li><a class="orange-text" th:href="@{/signup}" th:text="#{nav.home.signup}">Sign up</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown2"><span th:text="#{nav.home.lang}"></span><i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{~/js/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/general.js}"></script>
</div>

</html>
