<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles"></head>
<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="container">

    <h1>Test User from DB</h1>

    <div class="row">
        <div th:replace="fragments/table/citizenTable.html :: table"></div>
    </div>

    <div class="row">
        <div th:replace="fragments/form/addCitizen.html :: form"></div>
    </div>
</div>
<span th:replace="fragments/general.html :: footer"/>
</body>
<span th:replace="fragments/general.html :: scripts"/>
</html>
