<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: appHeaders"></head>
<body>
<nav th:replace="fragments/general.html :: citizenNavbar"></nav>
<div class="container">
<h1>Informations</h1>

<table>
    <thead>
    <tr>
        <th th:text="#{userInfo.mainTable.firstName}">First Name</th>
        <th th:text="#{userInfo.mainTable.lastName}">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${citizen.firstName}">13/01/2011</td>
        <td th:text="${citizen.lastName}">yes</td>
    </tr>
    </tbody>
</table>
</div>
<span th:replace="fragments/general.html :: scripts"/>
</body>
</html>
