<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headers"></head>
<body class="orange darken-3">

<div class="row valign-wrapper" style="min-height: 100vh;">
    <div class="col s6 offset-s6 center-align" style="height: 100%">
        <div>
            <i class="material-icons large grey-text text-darken-2"> business</i>
        </div>
        <a class="btn btn-large grey darken-2" th:href="@{/employees/me/service/demands}">go
            to the employee platform </a>
    </div>


    <div class="row valign-wrapper grey darken-2 center-align" style="height: 100%; min-height: 100vh;" id="splitBG">
        <div class="col s6 offset-s3">
            <div>
                <i class="material-icons large orange-text text-darken-3"> group</i>
            </div>
            <a class="btn btn-large orange darken-3" th:href="@{/citizens/me}">go to the citizen
                platform </a>
        </div>
    </div>
</div>
</body>
<span th:replace="fragments/general.html :: scripts"/>
</html>
