
.spin {
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
}
.pulse {
    -webkit-animation: spin 1s infinite steps(8);
    animation: spin 1s infinite steps(8);
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


.dropdown-content{
    width: max-content !important;
    height:auto !important;
}

header, body, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, body, footer {
        padding-left: 0;
    }
}
.nav-wrapper {

    background-color: #5a5a5a;
}

body {

    background-color: #e6e6e6;
}

.sidenav {

    background-color: #7d7d7d;
}

#logoSideNav {

    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#logoSideNavDiv {

    margin-bottom: 15%;
}
